    /*mobile*/
@media(max-width:960px){
    #secti{
        width: 100%;
    }
    #container{
        width: 80%;
    }
    #card{
        text-align: center;
         justify-content: center;   
        display: flex;
        font-size: 40px;
        backdrop-filter: blur(40px);
         width: 80%; 
         padding: 20px  70px; 
        display: flex;
        background:rgb(245, 240, 240);
        margin-top: 100px;
        margin-left: 2px;
        letter-spacing: 10px;
        border-radius: 20px;
    }   
    .but button{
        padding:10px 20px;
        margin-left: 8px;
        border-radius: 10px;
    
    }
}
        /*ipad*/
@media(max-width:630px){

}


        /*laptop*/

@media(min-width:961px){

    #secti{
        width: 100%;
    }
    #container{
        width: 80%;
    }
    #card{
        text-align: center;
         justify-content: center;   
        display: flex;
        font-size: 40px;
        backdrop-filter: blur(40px);
         width: 30%; 
         padding: 20px  70px; 
        display: flex;
        background:rgb(245, 240, 240);
        
        letter-spacing: 10px;
        border-radius: 20px;
    }

    .but button{
        padding:10px 30px;
        margin-left: 15px;
        border-radius: 10px;
    
    }

    
}        