@font-face {
    font-family: digital-7 ;
    src: url("digital-7.zip");
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#secti{
    /* width: 100%; */
    height: 100vh;
    background:linear-gradient(45deg,#000000,#444343);
}
#container{
    /* width: 80%; */
    margin: auto;
    
}
#row{
    text-align: center;
    justify-content: center;   
   display: flex;
   
    padding-top: 25%;

}
/*#card{
    text-align: center;
     justify-content: center;   
    display: flex;
    font-size: 40px;
    backdrop-filter: blur(40px);
     width: 30%; 
    padding: 20px  70px;
    display: flex;
    background:rgb(245, 240, 240);
    
    letter-spacing: 10px;
    border-radius: 20px;
}*/
#card:hover{
    border-radius: 1px;
    border-color: red;
    border: 2px solid red;
   
  
}
 p,span {
        color: #000000;   
        word-spacing: 30px; 
        font-family:digital-7 ;                                                                                                                                                                                     
}
p,span:hover{
    
}
.but{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 20px;
       
}
/* .but button{
    padding:10px 30px;
    margin-left: 15px;
    border-radius: 10px;

} */
.but :nth-child(2){
    font-size: 17px;
    font-weight: bold;
    border:none ;
    color: black;
    background-color: rgb(239, 241, 80);
}
.but :nth-child(2):hover{
    color: #ffffff;
    background-color: rgb(255, 251, 15);
    box-shadow: 0px 0px 5px rgb(255, 255, 2),0px 0px 25px rgb(255, 255, 2),0px 0px 55px rgb(255, 255, 2);
    border:none ;
    
}
.but :nth-child(1){
    color: black;
    font-weight: bold;
    font-size: 17px;
    border: none;
    background-color: aqua;
}
.but :nth-child(1):hover{
    color: #ffffff;
    background-color: rgb(21, 206, 219);
    box-shadow: 0px 0px 5px rgb(11, 221, 228),0px 0px 25px rgb(14, 194, 226),0px 0px 55px rgb(13, 175, 216);
}
.but :nth-child(3){
    color: black;
    font-weight: bold;
    font-size: 17px;
    border: none;
    background-color: rgb(247, 22, 209);
}
.but :nth-child(3):hover{
    color: #ffffff;
    background-color: rgb(168, 9, 142);
    box-shadow: 0px 0px 5px rgb(226, 1, 215),0px 0px 25px rgb(204, 2, 177),0px 0px 55px rgb(199, 7, 167);
}